#ocean {
    background-image: url("img/ocean.png");
    width: 830px;
    height: 850px;
}
.player {
    position: absolute;
    background-image: url("img/player.png");
    width: 120px;
    height: 75px;
}
.enemy {
    position: absolute;
    background-image: url("img/enemy.png");
    width: 70px;
    height: 75px;
}
.missile {
    position: absolute;
    background-color: rgb(235, 232, 80);
    width: 2px;
    height: 10px;
}

